* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(255,255,224);
}

.container {
	text-align: center;
}

#connect4 {
	margin: 2rem auto;
	max-width: 1200px;
	flex: 1;
	overflow: hidden;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 3rem;
	padding: 1rem;
}

.col.empty {
	cursor: pointer;
}

.col {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	background-color: rgb(255,218,185);
	position: relative;
}

/*.col::after {
	content: '';
	height: 6rem;
	width: 6rem;
	background-color: blue;
	top: -500px;
	left: 0;
	border-radius: 50%;
	position: absolute;
}*/

.token {
	background-color: transparent;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	
}

.drop-red {
	animation: drop-red .75s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.drop-black {
	animation: drop-black .75s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.next-red {
	background-color: rgba(255,0,0,0.5);
}

#restart {
	padding: 2rem;
	margin: 0 auto;
	display: block;
	visibility: hidden;
}

@keyframes drop-red {
	0% {
		top: -1500px;
		background-color: red;
	}

	90% {
		top: 0;
	}

	94% {
		top: -25px;
	}

	100% {
		top: 0;
		background-color: red;
	}
}

@keyframes drop-black {
	0% {
		top: -1500px;
		background-color: black;
	}

	90% {
		top: 0;
	}

	94% {
		top: -25px;
	}

	100% {
		top: 0;
		background-color: black;
	}
}