* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(255,255,224);
}

#connect4 {
	background-color: rgb(255,218,185);
	margin: 5rem auto;
	max-width: 1200px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 3rem;
	padding: 1rem;
}

.col.empty {
	cursor: pointer;
}

.col {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	background-color: rgb(255,255,224);
}

.next-red {
	background-color: rgba(255,0,0,0.2);
}

.next-black {
	background-color: rgba(0,0,0, 0.4);
}

.col.red {
	background-color: rgba(255,0,0);
}

.col.black {
	background-color: black;
}